<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aps.mapper.ApsEquipmentMapper">

    <resultMap type="com.ruoyi.aps.domain.ApsEquipment" id="ApsEquipmentResult">
        <id property="equipmentId" column="equipment_id" />
        <result property="equipmentCode" column="equipment_code" />
        <result property="equipmentName" column="equipment_name" />
        <result property="equipmentGroupId" column="equipment_group_id" />
        <result property="equipmentGroupCode" column="equipment_group_code" />
        <result property="status" column="status" />
        <result property="delFlag" column="del_flag" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectApsEquipmentVo">
        select equipment_id, equipment_code, equipment_name, equipment_group_id, equipment_group_code, status, del_flag, create_by, create_time, update_by, update_time, remark from aps_equipment
    </sql>

    <select id="selectApsEquipmentList" parameterType="com.ruoyi.aps.domain.ApsEquipment" resultMap="ApsEquipmentResult">
        <include refid="selectApsEquipmentVo"/>
        <where>
            <if test="equipmentCode != null and equipmentCode != ''"> and equipment_code like concat('%', #{equipmentCode}, '%')</if>
            <if test="equipmentName != null and equipmentName != ''"> and equipment_name like concat('%', #{equipmentName}, '%')</if>
            <if test="equipmentGroupId != null"> and equipment_group_id = #{equipmentGroupId}</if>
            <if test="equipmentGroupCode != null and equipmentGroupCode != ''"> and equipment_group_code like concat('%', #{equipmentGroupCode}, '%')</if>
            <if test="status != null and status != ''"> and status like concat('%', #{status}, '%')</if>
        </where>
    </select>

    <select id="selectApsEquipmentById" parameterType="Long" resultMap="ApsEquipmentResult">
        <include refid="selectApsEquipmentVo"/>
        where equipment_id = #{equipmentId}
    </select>

    <insert id="insertApsEquipment" parameterType="com.ruoyi.aps.domain.ApsEquipment" useGeneratedKeys="true" keyProperty="equipmentId">
        insert into aps_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentCode != null">equipment_code,</if>
            <if test="equipmentName != null">equipment_name,</if>
            <if test="equipmentGroupId != null">equipment_group_id,</if>
            <if test="equipmentGroupCode != null">equipment_group_code,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentCode != null">#{equipmentCode},</if>
            <if test="equipmentName != null">#{equipmentName},</if>
            <if test="equipmentGroupId != null">#{equipmentGroupId},</if>
            <if test="equipmentGroupCode != null">#{equipmentGroupCode},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateApsEquipment" parameterType="com.ruoyi.aps.domain.ApsEquipment">
        update aps_equipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentCode != null">equipment_code = #{equipmentCode},</if>
            <if test="equipmentName != null">equipment_name = #{equipmentName},</if>
            <if test="equipmentGroupId != null">equipment_group_id = #{equipmentGroupId},</if>
            <if test="equipmentGroupCode != null">equipment_group_code = #{equipmentGroupCode},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where equipment_id = #{equipmentId}
    </update>

    <delete id="deleteApsEquipmentById" parameterType="Long">
        delete from aps_equipment where equipment_id = #{equipmentId}
    </delete>

    <delete id="deleteApsEquipmentByIds" parameterType="Long">
        delete from aps_equipment where equipment_id in
        <foreach item="equipmentId" collection="array" open="(" separator="," close=")">
            #{equipmentId}
        </foreach>
    </delete>
</mapper>
